* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

body {
  background-color: rgb(8, 8, 40);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: aliceblue;
  }

  button {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px 40px;
    h3 {
      color: aliceblue;
      font-size: 10px;
    }
  }

  .dav {
    display: flex;
    gap: 40px;
  }
}
.hero {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  line-height: 25px;
  gap: 20px;
  h2 {
    color: aqua;
  }
  h1 {
    color: white;
  }
  h5 {
    color: rgb(90, 90, 90);
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .tt {
    background-color: rgba(96, 22, 252, 1);
    padding: 10px 15px;
    border: none;
    border-radius: 5%;
    color: aliceblue;
    font-family: sans-serif;
  }
  .rr {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 15px;
    border: none;
    border-radius: 5%;
    color: aliceblue;
    font-family: sans-serif;
  }
}

.card {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 50px;

  .card1 {
    padding: 30px;
    width: 300px;
    height: 276px;

    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: column;
    gap: 10px;
    img{
       width: 60px;

    }

    h1{
        color: rgba(255, 255, 255, 1);
    }

    p{
        color: rgba(255, 255, 255, 0.6);
    }
  }
}
#footer{
    margin: 30px 0px;

    .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}}


